@model HospitalManagementSystem.Models.UIModels.ForgotPasswordUIModel

<div class="modal-dialog" role="document" id="mdlForgotPassword">
	<div class="modal-content">
		<div class="modal-header" style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1;">
			<h5 class="modal-title" id="forgotPasswordLabel">Forgot Password</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="line-height:0">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<form asp-action="CheckUserByEmailOrPhoneNumber" asp-controller="Account" id="forgotPasswordForm"
				  method="post" data-ajax="true" data-ajax-update="#mdlForgotPassword" data-ajax-success="onSuccess">

				@if (!Model.Status && !string.IsNullOrEmpty(Model.Message))
				{
					<div class="alert alert-danger" id="forgotPasswordMessage">
						@Model.Message
					</div>
				}
				else if (Model.Status && !string.IsNullOrEmpty(Model.Message))
				{
					<div class="alert alert-success" id="forgotPasswordMessage">
						@Model.Message
					</div>
				}

				<div class="form-group" id="emailPhoneNumberDiv1">
					<label for="emailPhoneNumber">Please enter your email address or mobile number:</label>
					@Html.EditorFor(model => model.EmailPhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Email or phone number", type = "text", id = "emailPhoneNumber", text = "@Model.EmailPhoneNumber" } })
					<span asp-validation-for="EmailPhoneNumber" class="text-danger" style="margin-left:10px"></span>
				</div>

				@if (Model.Status && !string.IsNullOrEmpty(Model.Message) && Model.Message.Contains("exists"))
				{
					<div class="form-group" id="newPasswordGroup">
						<label for="newPassword">Enter your new password:</label>
						@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New password", type = "password", id = "newPassword" } })
						<span asp-validation-for="NewPassword" class="text-danger" style="margin-left:10px"></span>
					</div>

					<div class="form-group" id="confirmPasswordGroup">
						<label for="confirmPassword">Confirm your new password:</label>
						@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm password", type = "password", id = "confirmPassword" } })
						<span asp-validation-for="ConfirmPassword" class="text-danger" style="margin-left:10px"></span>
					</div>
				}

				<div class="modal-footer">
					<button id="submitForm" type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

	function onSuccess(formData) {
	console.log(formData);

		@if (!Model.Status)
		{
			@:$("#emailPhoneNumber").attr("readonly", false);
			@:$("#emailPhoneNumber").val("");
		}
		else if (Model.Status)
		{
			@:$("#emailPhoneNumber").attr("readonly", true);
		}

		@if (Model.Message == "Password updated successfully. Please Login!")
		{
			@:$("#emailPhoneNumber").attr("readonly", false).val("");
		}
	}

	function resetFormAndClearMessages() {
		$("#forgotPasswordForm")[0].reset();
		$("#forgotPasswordMessage").text("").hide('alert-info alert-danger alert-success');
		$("#newPasswordGroup").hide();
		$("#confirmPasswordGroup").hide();
		$("#emailPhoneNumber").attr("readonly", false);
		$("#emailPhoneNumber").val("");
		$(".text-danger").hide();
	}

	$("#mdlForgotPassword .close").on("click", function () {
	resetFormAndClearMessages();
	});

	$("#cancelButton").on("click", function () {
	resetFormAndClearMessages();
	});

	$('#mdlForgotPassword').on('hidden.bs.modal', function () {
	resetFormAndClearMessages();
	});

		$("#submitForm").on("click", function () {
			$(".text-danger").show();
	});

</script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

