@model HospitalManagementSystem.Models.UIModels.RegisterUserUIModel
@{
	Layout = null;
	var message = Model.Message;
	var status = Model.Status;
}

<div class="modal-dialog" id="dvSignUp" style="margin-top:50px" role="document">
	<div class="modal-content">
		<div class="modal-header" style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1;">
			<h5 class="modal-title" id="signUpLabel">Sign Up</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="line-height:0">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<form asp-controller="Account" asp-action="RegisterUser" method="post" id="frmSignUp" class="form-horizontal"
				  data-ajax="true" role="form" data-ajax-update="#dvSignUp" data-ajax-success="frmOnSuccess">

				@if (!Model.Status && !string.IsNullOrEmpty(Model.Message))
				{
					<div class="alert alert-danger alert-dismissible mb-0" id="registrationMessage">
						@Model.Message
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				}
				else if (Model.Status && !string.IsNullOrEmpty(Model.Message))
				{
					<div class="alert alert-success alert-dismissible mb-0" id="registrationMessage">
						@Model.Message
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				}

				<div class="form-group">
					<label for="Email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address", type = "Email" } })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label for="FirstName" class="col-md-3 control-label">First Name</label>
					<div class="col-md-9">
						@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
						@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label for="LastName" class="col-md-3 control-label">Last Name</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
						@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

					</div>
				</div>

				<div class="form-group">
					<label for="PhoneNumber" class="col-md-3 control-label">Phone Number</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone Number" } })
						@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

					</div>
				</div>

				<div class="form-group" id="IsDoctor">
					<label for="IsDoctor" class="col-md-3 control-label">Doctor</label>
					<div class="col-md-9">
						<select asp-for="IsDoctor" class="form-control" required>
							<option value="" selected>Select</option>
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						@Html.ValidationMessageFor(model => model.IsDoctor, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group" id="departmentGroup">
					<label for="DepartmentId" class="col-md-3 control-label">Department</label>
					<div class="col-md-9">
						@Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, "key", "value", Model.DepartmentId), "Select Department", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DepartmentList, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group" id="designationGroup">
					<label for="designation" class="col-md-3 control-label">Designation</label>
					<div class="col-md-9">
						@Html.DropDownListFor(model => model.DesignationId, new SelectList(Model.DesignationList, "key", "value", Model.DesignationId), "Select Designation", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DesignationList, "", new { @class = "text-danger" })

					</div>
				</div>

				<div class="form-group">
					<label for="Password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
						@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

					</div>
				</div>

				<div class="form-group">
					<label for="ConfirmPassword" class="col-md-3 control-label">Confirm Password</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password", type = "password" } })
						@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" name="btnSignup" id="btnSignup" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
						<button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

	$.validator.unobtrusive.parse("#frmSignUp");

		$("#DepartmentId").on("change", function() {
			$("#frmSignUp").validate().destroy();
			$("#frmSignUp").append("<input type='hidden' name='ddlDepartmentChange' value='"+$(this).val()+"' id='ddlDepartmentChange'/>")
			$("#frmSignUp").submit();
		});

	function frmOnSuccess() {
			if('@Model.Status' == 'True' )
			 {
				$('#modalSignUp').modal('toggle');
				window.location = "/Account/Login";
			}
	}



	function resetFormAndClearMessages() {
		$(".text-danger").hide();
		$("#frmSignUp")[0].reset();
		$("#registrationMessage").text("").hide('alert-info alert-danger alert-success');
	}

	$("#dvSignUp .close").on("click", function () {
		$("#frmSignUp")[0].reset();
		resetFormAndClearMessages();
	});

	$("#cancelButton").on("click", function () {
		$("#frmSignUp")[0].reset();
		resetFormAndClearMessages();
	});

	$('#modalSignUp').on('hidden.bs.modal', function () {
		resetFormAndClearMessages();
	});

	$("#btnSignup").on("click", function () {
		$(".text-danger").show();
		$("#btnSignup").val("true");
	});

</script> 