@model HospitalManagementSystem.Models.UIModels.AddPatientAppointmentByUserUIModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Row starts -->
<div class="row gx-3">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title">Add Patient Details</h5>
			</div>
			<div class="card-body">
				<form asp-controller="Account" asp-action="AddPatientAppointmentByUser" method="post" id="frmAddAppointment" class="form-horizontal">


					<!-- Row for Doctor Detail -->
					<div class="row gx-3">
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">Department <span class="text-danger">*</span></label>
								<div class="col-md-9">
									@Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, "key", "value", Model.DepartmentId), "Select Department", new { @class = "form-control" })
									@Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a2">Doctor <span class="text-danger">*</span></label>
								<select class="form-select" id="a3">
									<option value="0">--Doctor--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
								@Html.DropDownListFor(model => model.DoctorId, new SelectList(Model.DoctorList, "key", "value", Model.DoctorId), "Select Doctor", new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a3">Date <span class="text-danger">*</span></label>
								<input type="datetime-local" id="a3" class="form-control">
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">Time Slot <span class="text-danger">*</span></label>
								@* <input type="datetime-local" id="a3" class="form-control" required> *@
								<select class="form-select" id="a3">
									<option value="0">--Time Slot--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a2">Patient Type <span class="text-danger">*</span></label>
								<select class="form-select" id="a3">
									<option value="0">Patient Type</option>
									<option value="1">New Patient</option>
									<option value="2">Old Patient</option>

								</select>
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a3">CRM Number <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="a1" placeholder="--CRM Number--">
							</div>
						</div>
					</div>
					<hr />

					<!-- Row starts -->
					<div class="row gx-3">
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">First Name <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter First Name", type = "text" } })
								@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a2">Last Name <span class="text-danger">*</span></label>
								@* <input type="text" class="form-control" id="a2" placeholder="Enter Last Name"> *@
								@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Last Name", type = "text" } })
								@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
							</div>
						</div>
						@*  <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <div class="mb-3">
                            <label class="form-label" for="a3">Age <span class="text-danger">*</span></label>
                            <select class="form-select" id="a3">
                                <option value="0">Select Age</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div> *@
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="selectGender1">Gender <span class="text-danger">*</span></label>
								<div class="m-0">
									<div class="form-check form-check-inline">
										@Html.RadioButtonFor(model => model.Gender, "male", new { id = "selectGender1", @class = "form-check-input" })
										<label class="form-check-label" for="selectGender1">Male</label>
									</div>
									<div class="form-check form-check-inline">
										@Html.RadioButtonFor(model => model.Gender, "female", new { id = "selectGender2", @class = "form-check-input" })
										<label class="form-check-label" for="selectGender2">Female</label>
									</div>
								</div>
								@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
							</div>
						</div>
						@* <div class="col-xxl-3 col-lg-4 col-sm-6">
                        <div class="mb-3">
                            <label class="form-label" for="a4">Create ID <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="a4" placeholder="Create Unique ID">
                        </div>
                    </div> *@
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a5">Email ID <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email Address", type = "text" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a6">Phone Number <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone Number", type = "text" } })
								@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a7">Marital Status</label>
								@Html.DropDownListFor(model => model.MaritalStatus,
																	new List<SelectListItem>
								{
								new SelectListItem { Text = "--Select--", Value = "0" },
								new SelectListItem { Text = "Married", Value = "1" },
								new SelectListItem { Text = "Un Married", Value = "2" }
								},
																	new { @class = "form-select" })
								@Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })

							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">Father's Name <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Father Name", type = "text" } })
								@Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">Mother's Name <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Mother Name", type = "text" } })
								@Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a1">Spouse's Name <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Spouse Name", type = "text" } })
								@Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a3">DOB <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })

							</div>
						</div>
						@* <div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a8">Occupation</label>
							<select class="form-select" id="a8">
								<option value="0">Select</option>
								<option value="1">Teacher</option>
								<option value="2">Engineer</option>
								<option value="3">Business</option>
								<option value="4">Bank</option>
								<option value="5">Army</option>
							</select>
						</div>
					</div> *@
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a9">Blood Group <span class="text-danger">*</span></label>
								@Html.DropDownListFor(model => model.BloodGroup,
																	new List<SelectListItem>
								{
								new SelectListItem { Text = "--Select--", Value = "0" },
								new SelectListItem { Text = "A+", Value = "1" },
								new SelectListItem { Text = "A-", Value = "2" },
								new SelectListItem { Text = "B+", Value = "3" },
								new SelectListItem { Text = "B-", Value = "4" },
								new SelectListItem { Text = "O+", Value = "5" },
								new SelectListItem { Text = "O-", Value = "6" },
								new SelectListItem { Text = "AB+", Value = "7" },
								new SelectListItem { Text = "AB-", Value = "8" },
								},
																	new { @class = "form-select" })
								@Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })

							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a6">Emergency Phone Number <span class="text-danger">*</span></label>
								@Html.EditorFor(model => model.EmergencyPhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Emergency Number", type = "text" } })
								@Html.ValidationMessageFor(model => model.EmergencyPhoneNumber, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="col-xxl-3 col-lg-4 col-sm-6">
							<div class="mb-3">
								<label class="form-label" for="a6">Reason for visit <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="a6" rows="3" placeholder="">
							</div>
						</div>
						@* <div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a10">Blood Presure</label>
							<input type="text" class="form-control" id="a10" placeholder="Enter Blood Presure">
						</div>
					</div>
					<div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a11">Sugar</label>
							<input type="text" class="form-control" id="a11" placeholder="Enter Sugar Levels">
						</div>
					</div>
					<div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a12">Address</label>
							<input type="text" class="form-control" id="a12" placeholder="Enter Address">
						</div>
					</div>
					<div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a13">City</label>
							<input type="text" class="form-control" id="a13" placeholder="Enter City">
						</div>
					</div>
					<div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a14">State</label>
							<select class="form-select" id="a14">
								<option value="0">Select</option>
								<option value="1">Alabama</option>
								<option value="2">Alaska</option>
								<option value="3">Arizona</option>
								<option value="4">California</option>
								<option value="5">Florida</option>
							</select>
						</div>
					</div>
					<div class="col-xxl-3 col-lg-4 col-sm-6">
						<div class="mb-3">
							<label class="form-label" for="a15">Postal Code</label>
							<input type="text" class="form-control" id="a15" placeholder="Enter Postal Code">
						</div>
					</div> *@
						<div class="col-sm-12">
							<div id="dropzone" class="mb-3">
								<form action="/upload" class="dropzone dz-clickable" id="demo-upload">
									<div class="dz-message">
										<button type="button" class="dz-button">
											Click here to upload or Drop your reports here.
										</button>
										<h5>Upload your health reports.</h5>
									</div>
								</form>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="d-flex gap-2 justify-content-end">
								<button type="button" class="btn btn-outline-secondary" id="cancelButton">Cancel</button>
								<button type="submit" class="btn btn-primary">
									Create Appointment
								</button>
							</div>
						</div>
					</div>
					<!-- Row ends -->

				</form>
			</div>
		</div>
	</div>
</div>
<!-- Row ends -->