@model HospitalManagementSystem.Models.UIModels.LoginUIModel;
@{
	ViewData["Title"] = "Login";
	Layout = null;
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
	.login-container {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.login-form-1 {
		padding: 5%;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	}

		.login-form-1 h3 {
			text-align: center;
			color: #333;
		}

	.login-form-2 {
		padding: 5%;
		background: #0062cc;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	}

		.login-form-2 h3 {
			text-align: center;
			color: #fff;
		}

	.login-container form {
		padding: 10%;
	}

	.btnSubmit {
		width: 50%;
		border-radius: 1rem;
		padding: 1.5%;
		border: none;
		cursor: pointer;
	}

	.login-form-1 .btnSubmit {
		font-weight: 600;
		color: #fff;
		background-color: #0062cc;
	}

	.login-form-2 .btnSubmit {
		font-weight: 600;
		color: #0062cc;
		background-color: #fff;
	}

	.login-form-2 .ForgetPwd {
		color: #fff;
		font-weight: 600;
		text-decoration: none;
	}

	.login-form-1 .ForgetPwd {
		color: #0062cc;
		font-weight: 600;
		text-decoration: none;
	}

	.alert {
		margin-bottom: 5px;
	}
</style>

<div class="container">
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
				<div style="float:right; font-size: 80%; position: relative; top:-10px"><a type="button" data-toggle="modal" data-target="#mdlForgotPassword">Forgot password?</a></div>
			</div>
			<div style="padding-top:30px" class="panel-body">
				<form asp-controller="Account" asp-action="Login" method="post" class="row">
					@if (Model.status == false && !string.IsNullOrEmpty(Model.Message))
					{
						<div class="alert alert-danger alert-dismissible mb-0" style="margin-left: 5px; margin-right: 5px" role="alert">
							@(Model.Message)
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					}
					else if (!Model.status == false && !string.IsNullOrEmpty(Model.Message))
					{
						<div class="alert alert-info alert-dismissible mb-0" style="margin-left: 5px; margin-right: 5px" role="alert">
							@(Model.Message)
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					}

					<div style="margin-left: 5px; margin-right: 5px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", value = Model.Email ?? "amrit@gmail.com", placeholder = "Email Address" } })
					</div>
						<span asp-validation-for="registerUser.Email" class="text-danger" style="margin-left:50px"></span>

					<div style="margin-top: 25px; margin-left: 5px; margin-right: 5px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", value = Model.Password ?? "admin123", placeholder = "Password" } })
					</div>
					<span asp-validation-for="registerUser.Password" class="text-danger" style="margin-left:50px"></span>

					<div class="input-group" style="margin-left: 5px; margin-top: 25px;">
						<div class="checkbox">
							<label>
								<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
							</label>
						</div>
					</div>

					<div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<button type="submit" name="btnLogin" id="btnLogin" class="btn btn-success">Sign in</button>
							<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
						</div>
					</div>
					<br />
					<br />
					<div class="form-group">
						<div class="col-md-12 control">
							<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
								Don't have an account!
								<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
									Sign Up Here
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign Up</div>
			<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
		</div>
		<div class="panel-body">
			<form asp-controller="Account" asp-action="RegisterUser" method="post" id="signupform" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="Email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						@Html.EditorFor(model => model.registerUser.Email,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "Email Address"
																}
															})
						<span asp-validation-for="registerUser.Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="FirstName" class="col-md-3 control-label">First Name</label>
					<div class="col-md-9">
						@Html.EditorFor(model => model.registerUser.FirstName,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "First Name"
																}
															})
						<span asp-validation-for="registerUser.FirstName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="LastName" class="col-md-3 control-label">Last Name</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.registerUser.LastName,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "Last Name"
																}
															})
						<span asp-validation-for="registerUser.LastName" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="PhoneNumber" class="col-md-3 control-label">Phone Number</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.registerUser.PhoneNumber,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "Phone Number"
																}
															})
						<span asp-validation-for="registerUser.PhoneNumber" class="text-danger"></span>
					</div>
				</div>

				 <div class="form-group" id="IsDoctor">
				 	<label for="IsDoctor" class="col-md-3 control-label">Doctor</label> 
				 	<div class="col-md-9"> 
				 		<select asp-for="registerUser.IsDoctor" class="form-control" required>
				 			<option value="" selected>Select</option>
				 			<option value="true">Yes</option> 
				 			<option value="false">No</option>
				 		</select> 
				 		<span asp-validation-for="registerUser.IsDoctor" class="text-danger"></span> 
				 	</div> 
				 </div> 
			
				<div class="form-group" id="departmentGroup">
					<label for="DepartmentId" class="col-md-3 control-label">Department</label>
					<div class="col-md-9">
						@if (Model.registerUser?.DepartmentList != null)
						{
							@Html.DropDownListFor(model => model.registerUser.DepartmentList,
																new SelectList(Model.registerUser.DepartmentList, "key", "value"),
																"Select Department", new { @class = "form-control", name = "department", @required = "required" })
						}
						<span asp-validation-for="registerUser.DepartmentList" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group" id="designationGroup">
					<label for="designation" class="col-md-3 control-label">Designation</label>
					<div class="col-md-9">
						@if (Model.registerUser?.DesignationList != null)
						{
							@Html.DropDownListFor(model => model.registerUser.DesignationId,
																new SelectList(Model.registerUser.DesignationList, "key", "value"),
																"Select Designation", new { @class = "form-control", name = "designation", @required = "required" })
						}
						<span asp-validation-for="registerUser.DesignationList" class="text-danger"></span>

					</div>
				</div>

				<div class="form-group">
					<label for="Password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.registerUser.Password,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "Password",
																	type = "password"
																}
															})
						<span asp-validation-for="registerUser.Password" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="ConfirmPassword" class="col-md-3 control-label">Confirm Password</label>
					<div class="col-md-9">
						@Html.EditorFor(Model => Model.registerUser.ConfirmPassword,
															new
															{
																htmlAttributes = new
																{
																	@class = "form-control",
																	placeholder = "Confirm Password",
																	type = "password"
																}
															})
						<span asp-validation-for="registerUser.ConfirmPassword" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<!-- Button -->
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" name="btnSignup" id="btnSignup" class="btn btn-info"><i class="icon-hand-right" onclick="return Validate()"></i> &nbsp Sign Up</button>
						<span style="margin-left:8px;">or</span>
						<button id="btn-fbsignup" type="button" class="btn btn-primary" style="margin-left:8px;"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 control">
						<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
							Already have an account!
							<a href="#" onClick="$('#signupbox').hide(); $('#loginbox').show()">
								Sign In Here
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="mdlForgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
	@Html.Partial("_ForgotPassword", Model.forgotPassword);
</div>
